@import '../../styles/variables.scss';

.container__content.project,
.container__content.roadmap {
  display: grid;
  grid-template-rows: auto 1fr;

  .container__description {
    display: grid;
    place-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  
    a {
      color: $yellow;
    }
  }
}

