@import './variables.scss';

.container__fixed--all {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.container__header--all {
  background-color: $dark-green;
  border-bottom: 1px solid $white;
}

.container__content--all {
  overflow-y: scroll;
  background: linear-gradient(180deg, $dark-green 0%, $light-green 100%);
}

section {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: $big-padding;
  padding: $small-padding;

  .container__CTA--btn {
    display: grid;
    place-items: center;

    .CTA--btns {
      display: grid;
      grid-auto-flow: column;
      grid-gap: $small-padding;

      .section--endBTN {
        padding: $small-padding / 2 $small-padding;
        border-radius: 999px;
        border: 1px solid $white;
        color: $white;
        display: grid;
        place-items: center;
        grid-auto-flow: column;
        grid-gap: $small-padding / 2;
      }
      .btnDown {
        padding-right: $small-padding / 2;
      }
      .btnUp {
        padding-left: $small-padding / 2;
      }
    }
  }
}

