@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Cousine', monospace;
  font-size: $small-font-size;
  color: $white;
  letter-spacing: -0.5px;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::selection {
  color: $green;
  background-color: $yellow;
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;  
  &:visited {
    color: inherit;
  }
  &:active {
    color: inherit;
  }
}

input {
  border: none;
  background-image: none;
  background-color: $yellow;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: $big-font-size;
  height: $big-font-size;
  width: $button-size;
  border-radius: $big-font-size;
  text-align: center;
  color: $dark-green;

  &:focus {
    outline: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  font-family: 'Cousine', monospace;
  font-size: $small-font-size;
  letter-spacing: -0.5px;
}

#root {
  height: 100vh;
  width: 100vw;
}