@import './variables.scss';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: $small-font-size;
  color: $white;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

*, ::after, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::selection {
  color: $green;
  background-color: $white;
}

*::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  
  &:visited {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

input {
  border: none;
  background-image: none;
  background-color: $yellow;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'Nerko One', cursive;
  font-size: $big-font-size;
  height: $big-font-size;
  width: $button-size;
  border-radius: $big-font-size;
  text-align: center;
  color: $dark-green;

  &:focus {
    outline: none;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: $yellow;
  font-family: 'Nerko One', cursive;
  font-size: $big-font-size;
  color: $dark-green;
  height: $big-font-size;
  width: $button-size;
  line-height: 0.5;
  border-radius: $big-font-size;
  border: none;
  cursor: pointer;
}

#root {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, $dark-green 0%, $light-green 100%);
}