$small-font-size: 14px;
$medium-font-size: 20px;
$big-font-size: 70px;
$large-font-size: clamp(75px, 12.5vw, 150px);
$button-size: clamp(180px, 18vw, 18vw);

$small-padding: 10px;
$medium-padding: 20px;
$big-padding: 30px;

$yellow: #f6f829;
$green: #28f57e;
$dark-green: #1dcd6b;
$light-green: #6cf0a4;
$white: #fff;