@import '../../styles/variables.scss';

.container__home--all {
  z-index: 999;
  width: 100%;

  .container__text--all {
    text-align: center;
    font-family: 'Nerko One', cursive;

    .title {
      font-size: $title-font-size;
      line-height: 0.7;
      color: $yellow;
    }
    .subtitle {
      font-size: $big-font-size;
    }
  }
}
