@import '../../styles/variables.scss';

.container__header {
  padding: $small-padding;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: $small-padding;
  text-transform: uppercase;

  a {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }
}

.navbar--links {
  display: grid;
  grid-auto-flow: column;
  grid-gap: $small-padding;
}