@import '../../styles/variables.scss';

.container__carousel--all {
  overflow-x: hidden;
}

.container__carousel--item {
  overflow-x: scroll;
  white-space: nowrap;
  display: grid;
  grid-gap: $small-padding;
  grid-auto-flow: column;
  padding: 0 $small-padding;
}

.carousel--item {
  display: inline-block;
}

.square--img {
  height: 40vh;
  border-radius: $medium-font-size;
}